@import 'colors';

.notification {
  position: fixed;
  top: 50px;
  color: $primary-color-text;
  background: $primary-color;
  width: 100px;
  height: 50px;
  font-size: 14px;
  padding: 0 20px;
  margin: 10px;
  text-align: center;
  animation: noti 0.5s forwards; // delay?
  @keyframes noti {
    0% { 
      right: -100px }
    50% { 
      right: 10px }
    100% { 
      right: 0; }
  }
}
