@import 'colors';

.user-info {
  margin: 16px;
  padding: 8px;
  width: 40vw;
  text-align: left;
  font-weight: 500;
  line-height: 1.8;
  color: $secondary-text-color
}

@media (min-width: 600px) {
  .user-info {
    width: 800px;
    margin: 16px auto;
    padding-left: 36px;
  }
}